:root {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 1rem;
  font-family: "sans-serif";
}
.container {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 14rem;
  font-weight: 100;
  margin: 2rem 0;
  letter-spacing: 3rem;
  color: black;
}

.photoGrid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem;
}

button {
  flex-basis: 48%;
  color: #ccc;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
}

button,
.button {
  border: 2px solid #f2f2f2;
  background: none;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: rgb(250, 11, 238);
  transition: all 0.2s;
  box-sizing: padding-box;
}

.loader {
  height: 20%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
}
