.comment {
  width: 100%;
  max-width: 200px;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  font-size: 1.3rem;
  padding: 1rem 0.3rem;
  border-bottom: 1px solid #d3d3d3;
  resize: vertical;
}

.comment-form input {
  border-color: rgb(9, 223, 212);
}

.comment p {
  max-width: 200px;
  border-bottom: 1px solid gray;
  padding: 0.5rem 6px;
  white-space: inherit;
}
